<%= simple_form_for(@service, html: { class: "form-horizontal"}) do |f| %>

  <div class="form-inputs">
    <%= f.input :serviceperformed, label: "Service Req." %>
    <%= f.input :servicedate, label: "Service Date", :input_html => {:style => 'width: 105px'} %>
    <% if @service.equipment.equipmenttype == "Vehicle" %>
    	<%= f.input :mileage %>
    <% else %>
    	<%= f.input :operatinghours, label: "Operating Hours" %>
    <% end %>
    <%= f.input :serviceduration, label: "Service Duration" %>
    <%= f.input :laborcost, label: "Labor Cost ($)" %>
    <%= f.input :materialcost, label: "Material Cost ($)" %>
    <%= f.input :notes, :input_html => {:style => 'width: 365px; height: 100px'} %><br />
    <%= f.input :completed, label: "Service Completed" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
