<h4>Add an image to this service:</h4>
<%= simple_form_for([@service, @service.serviceimages.build], html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>
	<div class="form-inputs">
		<%= f.input :image, label: "Upload an image" %>
	    <%= f.input :caption, label: "Caption", :input_html => {:autofocus => ''} %>
	</div>    
	<div class="form-actions">
	  <%= f.button :submit, :value => "Add Image", class: "btn btn-primary" %>
	  <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
	</div>
<% end %>
