<tr onclick="window.location.href = '<%= service_path(service) %>'" style="cursor: pointer">
  <td title="<%= if service.completed? then "" else "Incomplete" end %>" width="10px"><span class="<%= if service.completed? then "" else "icon-flag" end %>"></span></td>
  <td title="<%= if service.notes? then service.notes else "No notes" end %>"><%= service.serviceperformed %></td>
  <td title="<%= if service.equipment.description? then service.equipment.description else "No notes" end %>"><%= link_to service.equipment.unitname, equipment_path(service.equipment_id, :scan => 0) %><%= if !service.equipment.crew.empty? then ("-" + service.equipment.crew) else "" end %></td>
  <td><%= service.servicedate %></td>
  <% if service.equipment.equipmenttype == "Vehicle" %>
   	<td><%= service.mileage %></td>
  <% else %>
  	<td><%= service.operatinghours %></td>
  <% end %>
  <td style="text-align: right"><%= number_to_currency(service.servicecost, :unit => "$") %></td>
  <td><%= link_to (content_tag :i, "", class: "icon-list-alt"), service_path(service), :class => "btn" %></td>
  <td><%= link_to (content_tag :i, "", class: "icon-edit"), edit_service_path(service), :class => "btn" %></td>
</tr>