<h4>Add a part to this service:</h4>

<div class="form-inputs">
	<%= simple_form_for([@service, @service.serviceparts.build], html: { class: "form-horizontal"}) do |f| %>
		<%= f.input :part_id, collection: @parts, label_method: :name, value_method: :id, prompt: "Select a part" %>
	    <%= f.input :qty, label: "Qty", :input_html => {:autofocus => ''} %>
	    
	  <div class="form-actions">
	    <%= f.button :submit, :value => "Add Part", class: "btn btn-primary" %>
	    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
	  </div>
	<% end %>
</div>
