<div class="well">
	<h4>Editing service record for <%= @service.equipment.unitname %></h4>
	<br />
	<%= render 'form' %>
	
	<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
</div>
