<% if user_signed_in? %>
	<div>
		<%= form_tag services_path,  :method => 'get' do %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Lookup", :serviceperformed => nil, class: "btn btn-primary" %>
		  </p>
		<% end %>
	</div>

	<h2>Service Listing</h2>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th title="Incomplete"><%= sortable "completed", "<span class='icon-flag'></span>", params[:search], params[:typefilter] %></th>
			    <th><%= sortable "serviceperformed", "Service", params[:search], params[:typefilter] %></th>
			    <th>Unit Name</th>
			    <th><%= sortable "servicedate", "Service Date", params[:search], params[:typefilter] %></th>
			    <th>Mileage/Op. Hours</th>
			    <th style="text-align: center">Cost</th>
			    <th></th>
			    <th></th>
			    <th></th>
			</tr>
		</thead>
		<tbody>
			<%= render @services %>
		</tbody>
	</table>
	<%= will_paginate @services %>
	<br />
<% end %>