<p id="notice"><%= notice %></p>

<p>
  <b>Barcode:</b>
  <%= @service.barcode %>
</p>

<p>
  <b>Serviceperformed:</b>
  <%= @service.serviceperformed %>
</p>

<p>
  <b>servicedate:</b>
  <%= @service.servicedate %>
</p>

<p>
  <b>Operatinghours:</b>
  <%= @service.operatinghours %>
</p>

<p>
  <b>Mileage:</b>
  <%= @service.mileage %>
</p>

<p>
  <b>Serviceduration:</b>
  <%= @serviceserviceduration %>
</p>

<p>
  <b>Notes:</b>
  <%= @service.notes %>
</p>

<p>
  <b>Part:</b>
  <%= @service.part %>
</p>

<p>
  <b>Equipment:</b>
  <%= @service.equipment %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
