<div class="row">
	<div class="span9 offset1">
		<div class="well">
			<h4>Service Detail for <%= link_to @service.equipment.unitname, equipment_path(@service.equipment_id, :scan => 0) %><%= if !@service.equipment.crew.empty? then ("-" + @service.equipment.crew) else "" end %><div class="pull-right incomplete"><%= if @service.completed? then "" else "NOT COMPLETED" end %></div></h4>
			<br />
			<p>
			  <b>Service Req.:</b>
			  <%= @service.serviceperformed %>
			</p>
			
			<p>
			  <b>Service Date:</b>
			  <%= @service.servicedate %>
			</p>
			
			<% if @service.equipment.equipmenttype == "Vehicle" %>
				<p>
				  <b>Mileage:</b>
				  <%= @service.mileage %>
				</p>
			<% else %>
				<p>
				  <b>Operating Hours:</b>
				  <%= @service.operatinghours %>
				</p>
			<% end %>
			
			<p>
			  <b>Service Duration:</b>
			  <%= @serviceserviceduration %>
			</p>
			
			<p>
			  <b>Labor Cost:</b>
			  <%= number_to_currency(@service.laborcost, :unit => "$") %>
			</p>
			
			<p>
			  <b>Material Cost:</b>
			  <%= number_to_currency(@service.materialcost, :unit => "$") %>
			</p>
			
			<p>
			  <b>Service Cost:</b>
			  <%= number_to_currency(@service.servicecost, :unit => "$") %>
			</p>
			
			<p>
			  <b>Notes:</b>
			  <%= @service.notes %>
			</p>
			<br />
			
			<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
			<%= link_to (content_tag :i, "", class: "icon-edit"), edit_service_path(@service), :class => "btn" %>
			<%= link_to (content_tag :i, "", class: "icon-trash"), @service, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn pull-right" %>
		</div>
		<div class="well">
			<h4>Parts Used <!-- Button trigger modal --><button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addPartModal">Add Part</button></h4>
			<% if !@service.serviceparts.blank? %>
				<table class="table table-striped">
					<thead>
						<tr>
						    <th>Part Used</th>
						    <th style="text-align: right">Cost</th>
						    <th style="text-align: center">Qty</th>
						    <th></th>
						    <th></th>
						</tr>
					</thead>
					<tbody>
						<%= render @service.serviceparts %>
					</tbody>
				</table>
			<% else %>
			<p>There are no parts associated with this service.</p>
			<% end %>
			<!-- Service Modal -->
			<div class="modal hide fade in" id="addPartModal" tabindex="-1" role="dialog" aria-labelledby="addPartModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="addPartModalLabel"><%= @service.equipment.unitname %><%= if !@service.equipment.crew.empty? then ("-" + @service.equipment.crew) else "" end %> - <%= @service.serviceperformed %></h4>
			      </div>
			      <div class="modal-body">
					<%= render 'servicepartForm' %>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>

		<div class="well" %>
			<h4>Attached Images <!-- Button trigger modal --><button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addImageModal">Add Image</button></h4>
			<% if !@service.serviceimages.blank? %>
				<div id="serviceimages">
				  <%= render @service.serviceimages %>
				</div>
			<% else %>
			<p>There are no images attached to this service.</p>
			<% end %>
			<!-- Image Modal -->
			<div class="modal hide fade in" id="addImageModal" tabindex="-1" role="dialog" aria-labelledby="addImageModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="addImageModalLabel"><%= @service.equipment.unitname %><%= if !@service.equipment.crew.empty? then ("-" + @service.equipment.crew) else "" end %> - <%= @service.serviceperformed %></h4>
			      </div>
			      <div class="modal-body">
					<%= render 'serviceimageForm' %>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>
