<%= simple_form_for(@serviceimage) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>
  <div class="form-inputs">
    <%= f.input :image, label: "Upload an image" %>
	<%= f.input :caption, label: "Caption" %>
  </div>

  <div class="form-actions">
	    <%= f.button :submit, :value => "Add/Update Image", class: "btn btn-primary" %>
  </div>
<% end %>
