<div class="box" style="width: 120px">
	<!-- Button trigger modal -->
	<script type="text/javascript">
		function load<%= serviceimage.id %>(file){
			document.getElementById('view<%= serviceimage.id %>frame').src=file;
		}
	</script> 
	<button data-toggle="modal" data-target="#view<%= serviceimage.id %>">
	  <%= image_tag serviceimage.image(:thumb), :onclick => ("load" + serviceimage.id.to_s + "('" + serviceimage.image.url + "')") %>
	</button>
	<!-- Service Modal -->
	<div class="modal hide fade in" id="view<%= serviceimage.id %>" tabindex="-1" role="dialog" aria-labelledby="view<%= serviceimage.id %>Label" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="view<%= serviceimage.id %>Label"><%= serviceimage.caption %></h4>
	      </div>
	      <div class="modal-body" style="text-align: center">
			<% if serviceimage.image.content_type =~ /^image/ %>
				<%= link_to (image_tag serviceimage.image.url, :width => '100%'), serviceimage.image.url, :target => '_blank' %>
			<% else %>
				<iframe id="view<%= serviceimage.id %>frame" name="view<%= serviceimage.id %>" width="100%" frameborder="0" hspace="0" scrolling="auto" src="about:blank" style="height: 350px">
					<h5>Your image should be downloading</h5>
					<p>
						If it is not, please click <%= link_to "here", serviceimage.image.url %> to download it.
					</p>
				</iframe>
			<% end %>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  <p class="caption">
    <%= serviceimage.caption %>
  </p>
  <p>
    <%= link_to (content_tag :i, "", class: "icon-edit"), edit_serviceimage_path(serviceimage), :class => "btn" %>
    <%= link_to (content_tag :i, "", class: "icon-trash"), serviceimage, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn pull-right" %>
  </p>
</div>