<h3>Editing Service Image</h3>

<%= render 'form' %>

<%= link_to (content_tag :i, "", class: "icon-list-alt"), @serviceimage, :class => "btn" %> |
<%= link_to (content_tag :i, "", class: "icon-arrow-left"), service_path(@serviceimage.service_id), :class => "btn" %>
