<div class="row">
  <div class="span6 offset3">
  	<div class="well" style="text-align: center">
  		<%= link_to (image_tag @serviceimage.image(:large), :width => '300px'), @serviceimage.image.url, :target => '_blank' %>
		<p>
		  <%= @serviceimage.caption %>
		</p>
	</div>
  </div>
</div>

<%= link_to (content_tag :i, "", class: "icon-edit"), edit_serviceimage_path(@serviceimage), :class => "btn" %>
<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
<%= link_to (content_tag :i, "", class: "icon-trash"), @serviceimage, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn pull-right" %>
