<%= simple_form_for(@part) do |f| %>

  <div class="form-inputs">
    <%= f.input :partnumber, label: "Part Number" %>
    <%= f.input :name %>
    <%= f.input :description, :input_html => {:style => 'width: 365px; height: 100px'} %>
    <%= f.input :category %>
    <%= f.input :location %>
    <%= f.input :cost %>
    <%= f.input :onhand, label: "On Hand" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
