<tr onclick="window.location.href = '<%= part_path(part) %>'" style="cursor: pointer">
  <td><%= part.name %></td>
  <td><%= part.category %></td>
  <td><%= part.location %></td>
  <% if current_user.invmode == TRUE %>
   	<td style="text-align: center" title="<%= if part.invuser? then ("Counted by: " + part.invuser + " on " + part.invscandate.to_s) else "Uncounted" end %>"><%= part.invcount %></td>
  <% else %>
  	<td style="text-align: right"><%= number_to_currency(part.cost, :unit => "$") %></td>
  <% end %>
  <td style="text-align: center"><%= part.onhand %></td>
  <td><%= link_to (content_tag :i, "", class: "icon-list-alt"), part_path(part), :class => "btn" %></td>
  <td><%= link_to (content_tag :i, "", class: "icon-edit"), edit_part_path(part), :class => "btn" %></td>
</tr>