<% if current_user.invmode == TRUE %>
	<h3>Inventorying <%= @part.name %></h3>
	<p>***Adjust "On Hand" quantity to match number of parts counted.</p><br />
	<% if !params[:scan] %>
	<% else %>
		<% if @part.invcount? %>
			<% @part.invcount = (@part.invcount + (params[:scan]).to_i) %>
			<% @part.invuser = current_user.name + (if (params[:scan]).to_i > 1 then " (Manual Entry)" else "" end) %>
			<% @part.invscandate = Time.now %>
			<% @part.save %>
		<% else %>
			<% @part.invcount = (0 + (params[:scan]).to_i) %>
			<% @part.invuser = current_user.name + (if (params[:scan]).to_i > 1 then " (Manual Entry)" else "" end) %>
			<% @part.invscandate = Time.now %>
			<% @part.save %>
		<% end %>
	<% end %>
<% else %>
	<h3>Editing <%= @part.name %></h3>
<% end %>

<%= render 'form' %>

<%= link_to (content_tag :i, "", class: "icon-list-alt"), @part, :class => "btn" %> |
<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back %>
