<% if user_signed_in? %>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
	  <% if current_user.invmode == TRUE %>
	  <Row>
        <Cell><Data ss:Type="String">Part Name</Data></Cell>
        <Cell><Data ss:Type="String">Part #</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Category</Data></Cell>
        <Cell><Data ss:Type="String">Location</Data></Cell>
        <Cell><Data ss:Type="String">Cost</Data></Cell>
        <Cell><Data ss:Type="String">On Hand</Data></Cell>
        <Cell><Data ss:Type="String">Inv Count</Data></Cell>
        <Cell><Data ss:Type="String">Scanned By</Data></Cell>
        <Cell><Data ss:Type="String">Date Scanned</Data></Cell>
      </Row>
      <% @parts.each do |part| %>
      <Row>
        <Cell><Data ss:Type="String"><%= part.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.partnumber %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.category %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.location %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.cost %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.onhand %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.invcount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.invuser %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.invscandate.to_s %></Data></Cell>
      </Row>
      <% end %>
	  <% else %>
      <Row>
        <Cell><Data ss:Type="String">Part Name</Data></Cell>
        <Cell><Data ss:Type="String">Part #</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Category</Data></Cell>
        <Cell><Data ss:Type="String">Location</Data></Cell>
        <Cell><Data ss:Type="String">Cost</Data></Cell>
        <Cell><Data ss:Type="String">On Hand</Data></Cell>
      </Row>
      <% @parts.each do |part| %>
      <Row>
        <Cell><Data ss:Type="String"><%= part.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.partnumber %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.category %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.location %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.cost %></Data></Cell>
        <Cell><Data ss:Type="String"><%= part.onhand %></Data></Cell>
      </Row>
      <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
<% end %>
