<% if user_signed_in? %>
	  <div>
	    <%= form_tag parts_path,  :method => 'get' do %>
	      <p>
	        <%= text_field_tag :search, params[:search] %>
	        <%= select_tag :typefilter, options_for_select(Part.uniq.pluck(:category).collect{ |u| [u, u] }, :selected => params[:typefilter]), {:include_blank => true} %>
	        <%= submit_tag "Lookup", :name => nil, class: "btn btn-primary" %> <small>(Search part names/numbers and filter by category)</small>
	      </p>
	    <% end %>
	  </div>
	
	<script language="JavaScript">
		document.getElementById('search').focus();
	</script>
	
	<h2>Part Listing</h2>
	<p><%= link_to 'Add Part', new_part_path %>
		<% if current_user.invmode == TRUE %>
			| <%= link_to "Reset Inventory Counts", invreset_part_path(12), :confirm => "are you sure?" %>
		<% else %>
		<% end %>
	</p>
	<table class="table table-striped">
	  <thead>
		  <tr>
		    <th><%= sortable "name", "Part Name", params[:search], params[:typefilter] %></th>
		    <th><%= sortable "category", "Category", params[:search], params[:typefilter] %></th>
		    <th><%= sortable "location", "Location", params[:search], params[:typefilter] %></th>
		    <% if current_user.invmode == TRUE %>
		        <th style="text-align: center"><%= sortable "invcount", "Inv Qty", params[:search], params[:typefilter] %></th>
		    <% else %>
		    	<th style="text-align: center"><%= sortable "cost", "Cost", params[:search], params[:typefilter] %></th>
			<% end %>
		    <th style="text-align: center"><%= sortable "onhand", "On Hand", params[:search], params[:typefilter] %></th>
		    <th></th>
		    <th></th>
		  </tr>
	  </thead>
	  <tbody>
		<%= render @parts %>
	  </tbody>
	</table>
	<%= will_paginate @parts %>
	<br />
<p>
  Download:
  <% if !params[:search] %>
    <%= link_to "CSV", parts_path + ".csv" %> |
    <%= link_to "Excel", parts_path + ".xls" %>
  <% else %>
    <%= link_to "CSV", parts_path + ".csv?search=" + params[:search] + "&typefilter=" + params[:typefilter] %> |
    <%= link_to "Excel", parts_path + ".xls?search=" + params[:search] + "&typefilter=" + params[:typefilter] %>
  <% end %>
</p>
<% end %>
