<% if user_signed_in? %>
	<% if current_user.invmode == TRUE %>
		Part Name,Part #,Description,Category,Location,Cost,Qty On Hand,Inv Count,Scanned By,Scan Date
		<% @parts.each do |part| %>
		"<%= part.name %>","<%= part.partnumber %>","<%= part.description %>","<%= part.category %>","<%= part.location %>","<%= part.cost %>","<%= part.onhand %>","<%= part.invcount %>","<%= part.invuser %>","<%= part.invscandate.to_s %>"
		<% end %>
	<% else %>
		Part Name,Part #,Description,Category,Location,Cost,Qty On Hand
		<% @parts.each do |part| %>
		"<%= part.name %>","<%= part.partnumber %>","<%= part.description %>","<%= part.category %>","<%= part.location %>","<%= part.cost %>","<%= part.onhand %>"
		<% end %>
	<% end %>
<% end %>
