<% if params[:download] %>
<script type="text/javascript">
	function findPrinter() {
		var applet = document.jzebra;
		if (applet != null) {
			applet.findPrinter("zebra");
		}
		monitorFinding();
	}

	function print() {
		var applet = document.jzebra;
		if (applet != null) {
			applet.append("^XA\n");
			applet.append("^FO215,15^BQ,2,4^FDQA,<%= edit_part_url(@part) + "?scan=1" %>^FS\n");
			applet.append("^FO430,15^ADN,20,12^FD<%= @part.name[0..14] %>^FS\n");
			applet.append("^FO430,35^ADN,20,12^FD<%= @part.name[15..29] %>^FS\n");
			applet.append("^FO430,65^ADN,20,12^FD<%= @part.description[0..14] %>^FS\n");
			applet.append("^FO430,85^ADN,20,12^FD<%= @part.description[15..29] %>^FS\n");
			applet.append("^FO430,105^ADN,20,12^FD<%= @part.description[30..44] %>^FS\n");
			applet.append("^FO430,150^ADN,20,12^FDP/N: <%= @part.partnumber %>^FS\n");
			applet.append("^FO430,175^ADN,20,12^FDID: <%= @part.id %>^FS\n");
			applet.append("^XZ\n"); 
			applet.print();
		}
		monitorPrinting();
    }

    function chr(i) {
		return String.fromCharCode(i);
	}

	function monitorPrinting() {
		var applet = document.jzebra;
		if (applet != null) {
			if (!applet.isDonePrinting()) {
				window.setTimeout('monitorPrinting()', 100);
			} else {
				var e = applet.getException();
				alert(e == null ? "Printed Successfully" : "Exception occured: " + e.getLocalizedMessage());
			}
		} else {
	    	alert("Applet not loaded!");
		}
	}

	function monitorFinding() {
		var applet = document.jzebra;
		if (applet != null) {
			if (!applet.isDoneFinding()) {
				window.setTimeout('monitorFinding()', 100);
			} else {
				var printer = applet.getPrinter();
				alert(printer == null ? "Printer not found" : "Printer \"" + printer + "\" found");
			}
		} else {
			alert("Applet not loaded!");
		}
	}

   </script>

	<p <%= params[:download] ? ("style='display: inline'").html_safe : ("style='display: none'").html_safe %>>
		<applet name="jzebra" code="jzebra.PrintApplet.class" archive="./jzebra.jar" width="50px" height="50px">
	      <param name="printer" value="zebra">
	    </applet>
		<input type=button onClick="print()" value="Print" class="btn btn-primary"/>
		<h3>Click print button above to print label</h3>
	</p>   
<% else %>

<div class="row">
	<div class="span9 offset1">
		<div class="well">
			<h4><%= @part.name %> Detail <p class="pull-right">Inventory Label: <%= link_to (content_tag :i, "", class: "icon-qrcode"), part_path(@part, :download => true), :class => "btn", :title => "Download inventory label print file" %></p></h4>
			<br />
			<p>
			  <b>Part #:</b>
			  <%= @part.partnumber %>
			</p>
			
			<p>
			  <b>Description:</b>
			  <%= @part.description %>
			</p>
			
			<p>
			  <b>Category:</b>
			  <%= @part.category %>
			</p>
			
			<p>
			  <b>Location:</b>
			  <%= @part.location %>
			</p>
			
			<p>
			  <b>Cost:</b>
			  <%= number_to_currency(@part.cost, :unit => "$") %>
			</p>
			
			<p>
			  <b>Qty On Hand:</b>
			  <%= @part.onhand %>
			</p>
			
			<br />

			<%= link_to (content_tag :i, "", class: "icon-edit"), edit_part_path(@part), :class => "btn" %>
			<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
			<%= link_to (content_tag :i, "", class: "icon-trash"), @part, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn pull-right" %>
		</div>
	</div>
</div>
<% end %>
