<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { :method => :put, class: 'form-horizontal'}) do |f| %>
    <%= f.error_notification %>

	<%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password, label: "New Password", autocomplete: "off" %>
    <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
    <%= f.input :current_password %>

    <div class="form-actions">
        <%= f.submit "Update", class: "btn btn-primary"%>
    </div>

<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
