<p>Service has been requested on the following unit:</p>

<p><%= link_to @equipment.unitname, equipment_url(@equipment) %> - <%= @equipment.serialnumber %>-<%= @equipment.crew %></p>

<p>The following are the details of the issue:</p>

<p>
	<% if !@service.serviceperformed.blank? %>
		<%= @service.serviceperformed %><br />
	<% else %>
		No title provided
	<% end %>
	<% if !@service.notes.blank? %>
		<%= @service.notes %>
	<% else %>
		No description provided
	<% end %>
</p>
