  <tr onclick="window.location.href = '<%= equipment_path(equipment, :scan => 0) %>'" style="cursor: pointer">
    <td><% if !equipment.hold.blank? %>
		  	<% if equipment.hold=false %>
		  		<%=link_to( image_tag("star-empty.png"), startoggle_equipment_path(equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => "Add to hold list.") %>
		  	<% else %>
		  		<% if !equipment.holddate.blank? %>
		  			<% if ((Date.today - equipment.holddate)<30) %>
		  				<%=link_to( image_tag("star.png"), startoggle_equipment_path(equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => if equipment.holdnotes? then equipment.holdnotes else "Remove from hold list." end, data: { confirm: 'Are you sure you want to remove this item from hold?' }) %>
		  			<% else %>
		  				<%=link_to( image_tag("star-red.png"), startoggle_equipment_path(equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => if equipment.holdnotes? then equipment.holdnotes else "Remove from hold list." end, data: { confirm: 'Are you sure you want to remove this item from hold?' }) %>
		  			<% end %>
		  		<% else %>
		  			<%=link_to( image_tag("star.png"), startoggle_equipment_path(equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => if equipment.holdnotes? then equipment.holdnotes else "Remove from hold list." end, data: { confirm: 'Are you sure you want to remove this item from hold?' }) %>
		  		<% end %>
		  	<% end %>
		  <% else %>
		  	<%=link_to( image_tag("star-empty.png"), startoggle_equipment_path(equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => "Add to hold list.") %>
		  <% end %><%= equipment.barcode %></td>
    <td><%= equipment.unitname %></td>
    <td><%= equipment.crew %></td>
    <td><%= equipment.dop %></td>
    <% if current_user.invmode == TRUE %>
    	<td style="text-align: center" title="<%= if equipment.invuser? then ("Counted by: " + equipment.invuser + " on " + equipment.invscandate.to_s) else "Uncounted" end %>"><%= equipment.invcount %></td>
    <% else %>
    	<td style="text-align: center"><%= equipment.counter %></td>
    <% end %>
    <td width="40%"><%= equipment.description %></td>
  </tr>