<%= simple_form_for(@equipment, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

    <%= f.input :barcode %>
    <%= f.input :unitname, label: "Unit Name" %>
    <%= f.input :manufacturer %>
    <%= f.input :equipmenttype, label: "Equipment Type" %>
    <%= f.input :serialnumber, label: "Serial Number/VIN" %>
    <%= f.input :fueltype, label: "Fuel Type" %>
    <%= f.input :dop, label: "Date of Purchase" %>
    <%= f.input :inservicedate, label: "In-Service Date" %>
    <%= f.input :performance, label: "Performance (1=New, 2=Used, 3=Old)" %>
    <%= f.input :description, as: :text, input_html: { rows: "3" } %>
    <%= f.input :storagelocation, label: "Storage Location" %>
    <%= f.input :crew %>
    <%= f.input :responsible, label: "Responsible Person" %>
    <%= f.input :gpsurl, label: "GPS URL" %>
    <%= f.input :supplier %>
    <%= f.input :image, label: "Upload an image" %>
    <%= f.input :archived, label: "Archive/Inactive" %>

  <div class="form-actions">
  	<%= f.button :submit, class: "btn btn-primary", :value => 'Add/Update Equipment' %> <%= f.button :submit, class: "btn btn-warning", :value => 'Add/Update & View' %>	<%= link_to "Cancel", @equipment, :class => "btn btn-info" %>
  </div>
<% end %>
