<h4>Add a service record:</h4>
<%= simple_form_for([@equipment, @equipment.services.build], html: { class: "form-horizontal"}) do |f| %>
	<%= f.input :serviceperformed, label: "Service Req.", :input_html => {:autofocus => ''} %>
    <%= f.input :servicedate, label: "Service Date", :input_html => {:style => 'width: 105px'} %>
    <% if @equipment.equipmenttype == "Vehicle" %>
    	<%= f.input :mileage %>
    <% else %>
    	<%= f.input :operatinghours, label: "Operating Hours" %>
    <% end %>
    <%= f.input :serviceduration, label: "Service Duration" %>
    <%= f.input :laborcost, label: "Labor Cost ($)" %>
    <%= f.input :materialcost, label: "Material Cost ($)" %>
    <%= f.input :notes, :input_html => {:style => 'width: 90%; height: 100px'} %><br />
    <%= f.input :completed, label: "Service Completed" %>
    
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary", :value => 'Add Service Record' %>
    <%= f.button :submit, class: "btn btn-warning", :value => 'Add and send Alert' %><br /><br />
    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
  </div>
<% end %>