<% if user_signed_in? %>
	  <div>
	    <%= form_tag archived_path,  :method => 'get' do %>
	      <p>
	        <%= text_field_tag :search, params[:search] %>
	        <%= select_tag :typefilter, options_for_select(Equipment.uniq.pluck(:equipmenttype).collect{ |u| [u, u] }, :selected => params[:typefilter]), {:include_blank => true} %>
	        <%= submit_tag "Lookup", :barcode => nil, class: "btn btn-primary" %><br />
	        <small>(Enter Barcode, Crew or Serial number and/or select equipment type to filter)</small>
	      </p>
	    <% end %>
	  </div>	
	
	<script language="JavaScript">
		document.getElementById('search').focus();
	</script>
	
	<h2>Archived Equipment Listing</h2>
	<table class="table table-striped">
	  <thead>
		  <tr>
		    <th><%= sortable "barcode", "Barcode", params[:search], params[:typefilter] %></th>
		    <th><%= sortable "unitname", "Unit Name", params[:search], params[:typefilter] %></th>
		    <th><%= sortable "crew", "Crew", params[:search], params[:typefilter] %></th>
		    <th><%= sortable "dop", "DOP", params[:search], params[:typefilter] %></th>
		    <% if current_user.invmode == TRUE %>
		        <th style="text-align: center"><%= sortable "invcount", "Inv Qty", params[:search], params[:typefilter] %></th>
		    <% else %>
			    <th style="text-align: center"><%= sortable "counter", "Scans", params[:search], params[:typefilter] %></th>
			<% end %>
		    <th>Description</th>
		  </tr>
	  </thead>
	  <tbody>
		<%= render @equipment %>
	  </tbody>
	</table>
	<%= will_paginate @equipment %>
<% end %>
