<% if user_signed_in? %>
	<h2>Hold List</h2>
	<% if @equipment.blank? %>
		<b>There is currently no equipment on hold.</b>
	<% else %>
		<table class="table table-striped">
		  <thead>
			  <tr>
			    <th><%= sortable "barcode", "Barcode", params[:search], params[:typefilter] %></th>
			    <th><%= sortable "unitname", "Unit Name", params[:search], params[:typefilter] %></th>
			    <th><%= sortable "crew", "Crew", params[:search], params[:typefilter] %></th>
			    <th><%= sortable "dop", "DOP", params[:search], params[:typefilter] %></th>
			    <% if current_user.invmode == TRUE %>
			        <th style="text-align: center"><%= sortable "invcount", "Inv Qty", params[:search], params[:typefilter] %></th>
			    <% else %>
				    <th style="text-align: center"><%= sortable "counter", "Scans", params[:search], params[:typefilter] %></th>
				<% end %>
			    <th>Description</th>
			  </tr>
		  </thead>
		  <tbody>
			<%= render @equipment %>
		  </tbody>
		</table>
		<%= will_paginate @equipment %>
		<br />
	<% end %>
<% end %>
