<% if user_signed_in? %>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
	  <% if current_user.invmode == TRUE %>
	  <Row>
        <Cell><Data ss:Type="String">Unit Name</Data></Cell>
        <Cell><Data ss:Type="String">Crew</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Type</Data></Cell>
        <Cell><Data ss:Type="String">Responsible Person</Data></Cell>
        <Cell><Data ss:Type="String">Serial Number</Data></Cell>
        <Cell><Data ss:Type="String">Storage Location</Data></Cell>
        <Cell><Data ss:Type="String">Qty Scanned</Data></Cell>
        <Cell><Data ss:Type="String">Scanned By</Data></Cell>
        <Cell><Data ss:Type="String">Date Scanned</Data></Cell>
      </Row>
      <% @equipment.each do |equipment| %>
      <Row>
        <Cell><Data ss:Type="String"><%= equipment.unitname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.crew %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.equipmenttype %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.responsible %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.serialnumber %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.storagelocation %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.invcount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.invuser %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.invscandate %></Data></Cell>
      </Row>
      <% end %>
	  <% else %>
      <Row>
        <Cell><Data ss:Type="String">Unit Name</Data></Cell>
        <Cell><Data ss:Type="String">Crew</Data></Cell>
        <Cell><Data ss:Type="String">DOP</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Type</Data></Cell>
        <Cell><Data ss:Type="String">Fuel Type</Data></Cell>
        <Cell><Data ss:Type="String">Manufacturer</Data></Cell>
        <Cell><Data ss:Type="String">Performance Rating</Data></Cell>
        <Cell><Data ss:Type="String">Responsible Person</Data></Cell>
        <Cell><Data ss:Type="String">Serial Number</Data></Cell>
        <Cell><Data ss:Type="String">Storage Location</Data></Cell>
        <Cell><Data ss:Type="String">Supplier</Data></Cell>
      </Row>
      <% @equipment.each do |equipment| %>
      <Row>
        <Cell><Data ss:Type="String"><%= equipment.unitname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.crew %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.dop %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.equipmenttype %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.fueltype %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.manufacturer %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= equipment.performance %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.responsible %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.serialnumber %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.storagelocation %></Data></Cell>
        <Cell><Data ss:Type="String"><%= equipment.supplier %></Data></Cell>
      </Row>
      <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
<% end %>
