<% if user_signed_in? %>
	<% if current_user.invmode == TRUE %>
		Unit Name,Crew,Description,Type,Responsible Person,Serial Number,Storage Location,Qty Scanned,Scanned By,Date Scanned
		<% @equipment.each do |equipment| %>
		"<%= equipment.unitname %>","<%= equipment.crew %>","<%= equipment.description %>","<%= equipment.equipmenttype %>","<%= equipment.responsible %>","<%= equipment.serialnumber %>","<%= equipment.storagelocation %>","<%= equipment.invcount %>","<%= equipment.invuser %>","<%= equipment.invscandate %>"
		<% end %>
	<% else %>
		Unit Name,Crew,DOP,Description,Type,Fuel Type,Manufacturer,Performance Rating,Responsible Person,Serial Number,Storage Location,Supplier
		<% @equipment.each do |equipment| %>
		"<%= equipment.unitname %>","<%= equipment.crew %>","<%= equipment.dop %>","<%= equipment.description %>","<%= equipment.equipmenttype %>","<%= equipment.fueltype %>","<%= equipment.manufacturer %>","<%= equipment.performance %>","<%= equipment.responsible %>","<%= equipment.serialnumber %>","<%= equipment.storagelocation %>","<%= equipment.supplier %>"
		<% end %>
	<% end %>
<% end %>
