<h1>New equipment</h1>

<%= render 'form' %>

<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
<!-- Button trigger modal -->
<button class="btn pull-right" data-toggle="modal" data-target="#importEquipmentModal">
  Import Multiple
</button>
<!-- Import Modal -->
<div class="modal hide fade in" id="importEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="importEquipmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="importEquipmentModalLabel">Import Equipment</h4>
      </div>
      <div class="modal-body">
			<%= form_tag import_equipment_index_path, multipart: true do %>
			  <%= file_field_tag :file %>
			  <%= submit_tag "Import" %>
			<% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="JavaScript">
	document.getElementById('equipment_barcode').focus();
</script>