<% if params[:download] %>
<script type="text/javascript">
	function findPrinter() {
		var applet = document.jzebra;
		if (applet != null) {
			applet.findPrinter("zebra");
		}
		monitorFinding();
	}

	function print() {
		var applet = document.jzebra;
		if (applet != null) {
			applet.append("^XA\n");
			applet.append("^FO215,15^BQ,2,5^FDQA,<%= equipment_url(@equipment) %>^FS\n");
			applet.append("^FO430,80^ADN,40,27^FD<%= @equipment.crew %>^FS\n");
			applet.append("^FO430,150^ADN,20,12^FDS/N: <%= @equipment.serialnumber.last(4) %>^FS\n");
			applet.append("^FO430,175^ADN,20,12^FD#<%= @equipment.id %>^FS\n");
			applet.append("^FO430,15^ADN,20,12^FD<%= @equipment.dop %>^FS\n");
			applet.append("^XZ\n"); 
			applet.print();
		}
		monitorPrinting();
    }

    function chr(i) {
		return String.fromCharCode(i);
	}

	function monitorPrinting() {
		var applet = document.jzebra;
		if (applet != null) {
			if (!applet.isDonePrinting()) {
				window.setTimeout('monitorPrinting()', 100);
			} else {
				var e = applet.getException();
				alert(e == null ? "Printed Successfully" : "Exception occured: " + e.getLocalizedMessage());
			}
		} else {
	    	alert("Applet not loaded!");
		}
	}

	function monitorFinding() {
		var applet = document.jzebra;
		if (applet != null) {
			if (!applet.isDoneFinding()) {
				window.setTimeout('monitorFinding()', 100);
			} else {
				var printer = applet.getPrinter();
				alert(printer == null ? "Printer not found" : "Printer \"" + printer + "\" found");
			}
		} else {
			alert("Applet not loaded!");
		}
	}

   </script>

	<p <%= params[:download] ? ("style='display: inline'").html_safe : ("style='display: none'").html_safe %>>
		<applet name="jzebra" code="jzebra.PrintApplet.class" archive="./jzebra.jar" width="50px" height="50px">
	      <param name="printer" value="zebra">
	    </applet>
		<input type=button onClick="print()" value="Print" class="btn btn-primary"/>
		<h3>Click print button above to print label</h3>
	</p>   
<% else %>
	<% if !params[:scan] %>
		<% if !current_user.invmode %>
			<% if @equipment.counter? %>
				<% @equipment.counter = (@equipment.counter + 1) %>
				<% @equipment.save %>
			<% else %>
				<% @equipment.counter = 1 %>
				<% @equipment.save %>
			<% end %>
		<% else %>
			<% if @equipment.invcount? %>
				<% @equipment.invcount = (@equipment.invcount + 1) %>
				<% @equipment.invuser = current_user.name %>
				<% @equipment.invscandate = Time.now %>
				<% @equipment.save %>
			<% else %>
				<% @equipment.invcount = 1 %>
				<% @equipment.invuser = current_user.name %>
				<% @equipment.invscandate = Time.now %>
				<% @equipment.save %>
			<% end %>
		<% end %>
	<% else %>
		<% if !current_user.invmode %>
			<% if @equipment.counter? %>
				<% @equipment.counter = (@equipment.counter + (params[:scan]).to_i) %>
				<% if @equipment.counter < 0 %>
					<% @equipment.counter = 0 %>
				<% end %>
				<% @equipment.save %>
			<% else %>
				<% @equipment.counter = (0 + (params[:scan]).to_i) %>
				<% if @equipment.counter < 0 %>
					<% @equipment.counter = 0 %>
				<% end %>
				<% @equipment.save %>
			<% end %>
		<% else %>
			<% if @equipment.invcount? %>
				<% @equipment.invcount = (@equipment.invcount + (params[:scan]).to_i) %>
				<% @equipment.invuser = current_user.name + " (Manual Entry)" %>
				<% @equipment.invscandate = Time.now %>
				<% @equipment.save %>
			<% else %>
				<% @equipment.invcount = (0 + (params[:scan]).to_i) %>
				<% @equipment.invuser = current_user.name + " (Manual Entry)" %>
				<% @equipment.invscandate = Time.now %>
				<% @equipment.save %>
			<% end %>
		<% end %>
	<% end %>
<div class="row">
	<div class="span9 offset1">
		<div class="well" id="EquipmentBox">
			<p class="hero-unit">
			  <% if @equipment.image? %>
			  	<%= image_tag @equipment.image(:thumb), class: "pull-right" %>
			  <% else %>
			  	<small><%= link_to 'ADD IMAGE', edit_equipment_path(@equipment), class: "pull-right" %></small>
			  <% end %>
			  <% if !@equipment.hold.blank? %>
			  	<% if @equipment.hold=false %>
		  			<%=link_to( image_tag("star-empty.png"), startoggle_equipment_path(@equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => "Add to hold list.") %>
			  	<% else %>
			  		<% if !@equipment.holddate.blank? %>
			  			<% if ((Date.today - @equipment.holddate)<30) %>
			  				<%=link_to( image_tag("star.png"), startoggle_equipment_path(@equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => if @equipment.holdnotes? then @equipment.holdnotes else "Remove from hold list." end, data: { confirm: 'Are you sure you want to remove this item from hold?' }) %>
			  			<% else %>
			  				<%=link_to( image_tag("star-red.png"), startoggle_equipment_path(@equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => if @equipment.holdnotes? then @equipment.holdnotes else "Remove from hold list." end, data: { confirm: 'Are you sure you want to remove this item from hold?' }) %>
			  			<% end %>
			  		<% else %>
			  			<%=link_to( image_tag("star.png"), startoggle_equipment_path(@equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => if @equipment.holdnotes? then @equipment.holdnotes else "Remove from hold list." end, data: { confirm: 'Are you sure you want to remove this item from hold?' }) %>
			  		<% end %>
			  	<% end %>
			  <% else %>
			  	<%=link_to( image_tag("star-empty.png"), startoggle_equipment_path(@equipment), :onclick => Rails.cache.write("whereyouare", request.original_url), :title => "Add to hold list.") %>
			  <% end %>
			  <b><%= @equipment.unitname %></b></br>
			  <small>
			  	<%= @equipment.barcode %></br>
			  	<b>DOP:</b> <%= @equipment.dop %></br>
			  	<b>ISD:</b> <%= @equipment.inservicedate %></br>
			  </small>
			</p>
			<% if @equipment.archived? %>
				<%= link_to (content_tag :i, "", class: "icon-arrow-down", :title => 'Archived'), archived_path, :class => "archive" %>
			<% end %>

		<!-- Button trigger modal -->
		<button class="btn btn-primary" data-toggle="modal" data-target="#addServiceModal">
		  Add/Request Service
		</button>
		<button class="btn btn-primary" data-toggle="modal" data-target="#loansModal">
		  Loans
		</button>
		<%= link_to (content_tag :i, "", class: "icon-qrcode"), equipment_path(@equipment, :download => true), :class => "btn pull-right", :title => "Download label print file" %>
		<%= if !@equipment.gpsurl.blank? then (link_to (content_tag :i, "", class: "icon-road"), @equipment.gpsurl, :class => "btn pull-right", :title => "Track via GPS", :target => "_blank") else "" end %>
		<br /><br />
		<!-- Service Modal -->
		<div class="modal hide fade in" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="addServiceModalLabel"><%= @equipment.unitname %><%= if !@equipment.crew.empty? then ("-" + @equipment.crew) else "" end %></h4>
		      </div>
		      <div class="modal-body">
				<%= render 'serviceForm' %>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- Loans Modal -->
		<div class="modal hide fade in" id="loansModal" tabindex="-1" role="dialog" aria-labelledby="loansModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="loansModalLabel"><%= @equipment.unitname %><%= if !@equipment.crew.empty? then ("-" + @equipment.crew) else "" end %></h4>
		      </div>
		      <div class="modal-body">
		        <p>
					<h4>Loan History:<button type="button" class="btn btn-info pull-right" data-dismiss="modal">Cancel</button><button class="btn btn-primary pull-right" data-dismiss="modal" data-toggle="modal" data-target="#addLoanModal">Add Loan</button></h4>
					<% if @equipment.loans.blank? %>
						<p>No loans saved for this item.</p>
					<% else %>
						<table class="table table-striped">
		                  <thead>
		                      <tr>
		                          <th>Loaned To</th>
		                          <th>Loaned On</th>
		                          <th>Loaned By</th>
		                          <th>Returned On</th>
		                          <th></th>
		                      </tr>
		                  </thead>
		                  <tbody>
		                        <%= render @equipment.loans.order("loandate DESC") %>
		                  </tbody>
		                </table>
	                <% end %>
				</p>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- Loans Modal -->
		<div class="modal hide fade in" id="addLoanModal" tabindex="-1" role="dialog" aria-labelledby="addLoanModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target="#loansModal">&times;</button>
		        <h4 class="modal-title" id="addLoanModalLabel">Add loan on <%= @equipment.unitname %><%= if !@equipment.crew.empty? then ("-" + @equipment.crew) else "" end %></h4>
		      </div>
		      <div class="modal-body">
		        <p>
					<%= simple_form_for([@equipment, @equipment.loans.build], html: { class: "form-horizontal"}) do |f| %>
					  <%= f.input :loanedto, label: "Loaned To", :input_html => {:autofocus => ''} %>
					  <%= f.input :loandate, label: "Loaned On", :input_html => {:style => 'width: 105px'} %>
					  <%= f.input :loanedby, label: "Loaned By", :input_html => { :value => current_user.name} %>
	
					<div class="form-actions">
						<%= f.button :submit, class: "btn btn-primary" %>
						<button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#loansModal">Cancel</button>
					</div>
					<% end %>
				</p>
			</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->	
			
			<p>
			  <b>Description:</b>
			  <%= @equipment.description %>
			</p>
			
			<p>
			  <b>Manufacturer:</b>
			  <%= @equipment.manufacturer %>
			</p>
			
			<p>
			  <b>Equipment Type:</b>
			  <%= @equipment.equipmenttype %>
			</p>
			
			<p>
			  <b>Serial Number/VIN:</b>
			  <%= @equipment.serialnumber %>
			</p>
			
			<p>
			  <b>Fuel Type:</b>
			  <%= @equipment.fueltype %>
			</p>
			
			<p>
			  <b>Performance (1=New, 2=Used, 3=Old):</b>
			  <%= @equipment.performance %>
			</p>
			
			<p>
			  <b>Storage Location:</b>
			  <%= @equipment.storagelocation %>
			</p>
			
			<p>
			  <b>Crew:</b>
			  <%= @equipment.crew %>
			</p>
			
			<p>
			  <b>Responsible Person:</b>
			  <%= @equipment.responsible %>
			</p>
			
			<p>
			  <b>Supplier:</b>
			  <%= @equipment.supplier %>
			</p>
			
			<p>
			  <b>Total Service Cost:</b>
			  <%= number_to_currency(@equipment.servicecostTotal, :unit => "$") %>
			</p>
			
			<p>
				<% if !@equipment.services.blank? %>
					<b>Latest 
						<% if @equipment.equipmenttype == "Vehicle" %>
					    	Mileage:
					    <% else %>
					    	Operating Hours:
					    <% end %>
					</b>
					<% if @equipment.equipmenttype == "Vehicle" %>
						<% if !@lastservicemiles.blank? %>
					    	<%= @lastservicemiles.mileage %> on <%= @lastservicemiles.servicedate %>
					    <% end %>	
				    <% else %>
				    	<% if !@lastservicehours.blank? %>
					    	<%= @lastservicehours.operatinghours %> on <%= @lastservicehours.servicedate %>
						<% end %>
				    <% end %>
				<% else %>
					<p>No Service History</p>
				<% end %>
			</p>
			<p>
				<b>Scan count: </b> 
				<% if @equipment.counter? %>
					<%= @equipment.counter %>
				<% else %>
					0
				<% end %>
			</p>
			
			<br />
			<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
			<%= link_to (content_tag :i, "", class: "icon-edit"), edit_equipment_path(@equipment), :class => "btn" %>
			<%= link_to (content_tag :i, "", class: "icon-trash"), @equipment, method: :delete, data: { confirm: 'Are you sure you want to delete this equipment (It will be archived if it is active)? !! IF IT IS ARCHIVED ALREADY IT WILL BE PERMANENTLY DELETED !!' }, :class => "btn pull-right" %>
		</div>
		<div class="well" %>
			<h4>Service History</h4>
			<% if !@equipment.services.blank? %>
				<table class="table table-striped">
					<thead>
						<tr>
							<th title="Incomplete"><span class="icon-flag"></span></th>
						    <th>Service Performed</th>
						    <th>Unit</th>
						    <th>Service Date</th>
						    <% if @equipment.equipmenttype == "Vehicle" %>
						    	<th>Mileage</th>
						    <% else %>
						    	<th>Operating Hours</th>
						    <% end %>
						    <th style="text-align: center">Cost</th>
						    <th></th>
						    <th></th>
						</tr>
					</thead>
					<tbody>
						<%= render @equipment.services.order("servicedate desc") %>
					</tbody>
				</table>
			<% else %>
			<p>There is no service history for this unit.</p>
			<% end %>
		</div>
	</div>
</div>
<% end %>
