<%= simple_form_for(@servicepart) do |f| %>
  <div class="form-inputs">
    <%= f.input :part_id, collection: @parts, label_method: :name, value_method: :id, prompt: "Select a part" %>
    <%= f.input :qty %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
