<% if Part.find_by_id(servicepart.part_id) %>
<tr>
  <td><%= link_to Part.find_by_id(servicepart.part_id).name, part_path(servicepart.part_id) %></td>
  <td style="text-align: right"><%= number_to_currency(servicepart.qty*(Part.find(servicepart.part_id).cost), :unit => "$") %></td>
  <td style="text-align: center"><%= servicepart.qty %></td>
  <td style="text-align: right"><%= link_to (content_tag :i, "", class: "icon-edit"), edit_servicepart_path(servicepart), :class => "btn", :title => "Edit Service Part" %></td>
  <td style="text-align: left"><%= link_to (content_tag :i, "", class: "icon-trash"), servicepart, method: :delete, data: { confirm: 'Are you sure you want to remove this part from this service record?' }, :class => "btn" %></td>
</tr>
<% else %>
<tr>
  <td><%= link_to "***Part was deleted, delete this part and add new one***" , edit_servicepart_path(servicepart) %></td>
  <td style="text-align: right"></td>
  <td style="text-align: center"><%= servicepart.qty %></td>
  <td style="text-align: right"><%= link_to (content_tag :i, "", class: "icon-edit"), edit_servicepart_path(servicepart), :class => "btn", :title => "Edit Service Part" %></td>
  <td style="text-align: left"><%= link_to (content_tag :i, "", class: "icon-trash"), servicepart, method: :delete, data: { confirm: 'Are you sure you want to remove this part from this service record?' }, :class => "btn" %></td>
</tr>
<% end %>
