<h1>Listing Service Parts</h1>

<table>
  <tr>
    <th>Part Number</th>
    <th>Qty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @serviceparts.each do |servicepart| %>
  <tr>
    <td><%= Part.find(servicepart.part_id).name %></td>
    <td><%= servicepart.qty %></td>
    <td><%= link_to (content_tag :i, "", class: "icon-list-alt"), servicepart, :class => "btn" %></td>
    <td><%= link_to (content_tag :i, "", class: "icon-edit"), edit_servicepart_path(servicepart), :class => "btn" %></td>
    <td><%= link_to (content_tag :i, "", class: "icon-trash"), servicepart, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
  </tr>
<% end %>
</table>
