<p id="notice"><%= notice %></p>

<p>
  <b>Part:</b>
  <%= Part.find(@servicepart.part_id).name %>
</p>

<p>
  <b>Qty:</b>
  <%= @servicepart.qty %>
</p>

<%= link_to (content_tag :i, "", class: "icon-edit"), edit_servicepart_path(@servicepart), :class => "btn" %>
<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
<%= link_to (content_tag :i, "", class: "icon-trash"), @servicepart, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn pull-right" %>
