<% if user_signed_in? %>
	
<% else %>
	<div class="hero-unit">
		<h1>Welcome to Equipment Tracker!</h1>
		<p>
			You've found the home page for the
			<%= link_to "Heritage Landscape Services", "http://hls2.com" %>
			Equipment Tracker
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large"%>
		</p>
	</div>
<% end %>
