<h1>About</h1>
<p>
	<%= link_to "Heritage Landscape Services", "http://www.hls2.com" %>
	is a commercial landcape services company.
</p>

<p>
	This is the Equipment Tracker application used to keep track of the equipment.
</p>

<p>
	Please submit any bugs, changes or feature requests here: <%= link_to "Equipment Tracker Issues", "https://bitbucket.org/CtrlR/equipmenttracker/issues" %>
</p>
