<%= simple_form_for(@loan, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :loanedto, label: "Loaned To" %>
  <%= f.input :loandate, label: "Loaned On", :input_html => {:style => 'width: 105px'} %>
  <%= f.input :loanedby, label: "Loaned By" %>
  <%= f.input :returndate, label: "Returned On", :input_html => {:style => 'width: 105px'} %>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>