<tr>
  <td><%= loan.loanedto %></td>
  <td><%= loan.loandate %></td>
  <td><%= loan.loanedby %></td>
  <% if loan.returndate? %>
	<td><%= loan.returndate %></td>
	<td><%= link_to (content_tag :i, "", class: "icon-edit"), edit_loan_path(loan), :class => "btn" %></td>
  <% else %>
	<td><%= link_to (content_tag :i, "", class: "icon-calendar"), edit_loan_path(loan), :class => "btn" %></td>
	<td></td>
  <% end %>
</tr>