<h1>Editing loan</h1>

<%= render 'form' %>

<%= link_to (content_tag :i, "", class: "icon-trash"), @loan, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn pull-right" %>
<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
