<% if user_signed_in? %>
	<h2>Open Loans</h2>
	
	<% if @loans.blank? %>
		<b>There are currently no open loans.</b>
	<% else %>
		<table class="table table-striped">
			<thead>
				<tr>		  	
					<th>Equipment</th>
				    <th><%= sortable "loanedto", "Loaned To", params[:search], params[:typefilter] %></th>
				    <th><%= sortable "loandate", "Loaned On", params[:search], params[:typefilter] %></th>
				    <th><%= sortable "loanedby", "Loaned By", params[:search], params[:typefilter] %></th>
				    <th><%= sortable "returndate", "Returned On", params[:search], params[:typefilter] %></th>
				    <th></th>
				    <th></th>
				</tr>
			</thead>
			<tbody>
				<% @loans.each do |loan| %>
					<tr onclick="window.location.href = '<%= equipment_path(loan.equipment.id, :scan => 0) %>'" style="cursor: pointer">
					  	<td><%= loan.equipment.unitname %><%= if !loan.equipment.crew.empty? then ("-" + loan.equipment.crew) else "" end %></td>
						<td><%= loan.loanedto %></td>
						<td><%= loan.loandate %></td>
						<td><%= loan.loanedby %></td>
						<% if loan.returndate? %>
							<td><%= loan.returndate %></td>
							<td><%= link_to (content_tag :i, "", class: "icon-edit"), edit_loan_path(loan), :class => "btn" %></td>
						<% else %>
							<td><%= link_to (content_tag :i, "", class: "icon-calendar"), edit_loan_path(loan), :class => "btn" %></td>
							<td></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
		<%= will_paginate @loans %>
	
	
	</table>
<% end %>
