<p id="notice"><%= notice %></p>

<p>
  <b>Loaned To:</b>
  <%= @loan.loanedto %>
</p>

<p>
  <b>Loaned On:</b>
  <%= @loan.loandate %>
</p>

<p>
  <b>Loaned By:</b>
  <%= @loan.loanedby %>
</p>

<p>
  <b>Returned On:</b>
  <%= @loan.returndate %>
</p>

<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
<%= link_to (content_tag :i, "", class: "icon-edit"), edit_loan_path(@loan), :class => "btn" %>
<%= link_to (content_tag :i, "", class: "icon-trash"), @loan, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn pull-right" %>