<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "form-horizontal"} ) do |f| %>
  
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>

  <div class="form-actions">
  	<%= f.submit "Sign in", class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= render "devise/shared/links" %>
  </div>
<% end %>

<h4>If you have found a piece of equipment, please click the following link and contact us ASAP.<br />
	We appreciate your honesty.</h4>
<h4><%= link_to "Contact Heritage", "http://hls2.com/contactus.html" %></h4>
