$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$btnPrimaryBackground: Green;

@import 'bootstrap';

body {
  padding-top: 60px;
}

@import 'bootstrap-responsive';

a:visited.btn {
  color: white;
}

.footer {
  margin-top: 50px;
  color: $grayLight;
  a {
    color: $gray;
  }
}

/* Required for jQuery Masonry */

.box {
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;
}

.box img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.caption {
  margin: 10px 0 5px;
}


#EquipmentBox {
  position: relative;
}

.archive {
  position: absolute;
  top: 25px;
  right: 25px;
}

.incomplete {
  color: red;
}
