<div class="footer">
	<small>
		&copy;<%= Time.now.year %> <%= link_to "Heritage Landscape Services", "http://hls2.com" %>
		by <%= link_to "Ian Randolph", "http://ianrandolph.com" %>
	</small> |
	<small>
		<%= link_to "Report Issues", "https://bitbucket.org/CtrlR/equipmenttracker/issues" %>
	</small>
</div>