<% if !params[:download] %>
<div class="navbar navbar-fixed-top">	
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <%= link_to "Equipment Tracker", root_path, class: "brand" %>

            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <%= link_to 'Hold List',  holdlist_path %>
                    </li>
                    <li>
                        <%= link_to 'Open Loans',  openloan_path %>
                    </li>
                    <li>
                        <%= link_to 'Service',  services_path %>
                    </li>
                    <li>
                        <%= link_to 'Parts',  parts_path %>
                    </li>
                </ul>
                <ul class="nav pull-right">
                	<% if user_signed_in? %>
                		<% if current_user.invmode == TRUE %>
						    <li style="color: red; text-align: center; font-weight: bolder; font-size: 16px; vertical-align: bottom">
						        INVENTORY MODE ON 
						    </li>
						<% end %>
	            		<li><%= link_to 'Add Equipment +',  new_equipment_path %></li>
	            		<li class="dropdown">
			              <%= link_to (current_user.name + content_tag(:b, "", class: "caret")).html_safe, "#", {class: "dropdown-toggle", :id => "drop1", :"data-toggle" => "dropdown" } %>
			              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
			              	<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to (if current_user.invmode == TRUE then "Inventory Mode is ON" else "Inventory Mode is OFF" end), invmodetoggle_user_path(current_user) %></a></li>
			              	<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to "Reset Inventory Counts", invreset_equipment_path(12), :confirm => "are you sure?" %></a></li>
			              	<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to 'Archived Equipment',  archived_path %></a></li>
			              	<li role="presentation" class="divider"></li>
			                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to "Edit Account", edit_user_registration_path %></a></li>
			                <li role="presentation" class="divider"></li>
			                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to 'About',  about_path %></a></li>
			                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
			              </ul>
			            </li>
                    <% else %>
                    	<li><%= link_to 'Login',  new_user_session_path %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
<% end %>
