<!DOCTYPE html>
<html>
	<head>
	  <title>Equipment Tracker</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "layouts/header" %>
		<div class="container">
			<% flash.each do |name, msg|%>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
			<%= yield %>
			<%= render "layouts/footer" %>
		</div>
	</body>
</html>
